body{
  padding: 0;
  margin:0;
  font-family: 'Karla', sans-serif;
}

*{
  box-sizing: border-box;
}

.navbar{
  height: 65px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  align-items: center;
  padding-left:58px;
  padding-right: 58px;
}

.nav-logo{
  
  display: flex;
  align-items: center;
  gap:9px;
  margin-right: auto;
}
.nav-text{
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color:#fff;
  
}

.navbar img{
  Width:31.31px;
  Height:26.22px;
  color: #fff;
}

.project-text{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;

}