body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

* {
  box-sizing: border-box;
}

.navbar {
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  align-items: center;
  padding-left: 58px;
  padding-right: 58px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-right: auto;
}
.nav-text {
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #fff;
}

.navbar img {
  width: 31.31px;
  height: 26.22px;
  color: #fff;
}

.project-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.meme {
  margin-top: 150px;
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

.form {
  width: 477px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-box {
  width: 100%;
  display: flex;
  gap: 17px;
}

.box {
  width: 230px;
  height: 35px;
  margin-bottom: 15px;
  padding: 11px 10px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #0d0d0d;
}

button {
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}

.meme--image {
  width: 30rem;
  height: 20rem;
  margin-top: 36px;
  border-radius: 2px;
}

.meme-text-img {
  position: relative;
  text-align: center;
}

.meme-text-img .top {
  position: absolute;
  top: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -8px;
  line-height: 45px;
}

.meme-text-img .bottom {
  position: absolute;
  top: 160px;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -8px;
  line-height: 45px;
}
/* .small-img{
  width: 40rem;
  border-radius: 5px;
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}




.small-img:hover{
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
  transition: all 1s ease-in-out;
} */
